<h3><%=name.demodulize%></h3>
<%='<h3 class="error">Inconsistency Detected</h3>' unless consistent %>
<div class="wrapper">
  <table>
    <%# create node table headers if applicable %>
    <tr>
      <%='<th></th>' unless success %>
      <% data.keys.each do |node| %>
        <th <%='colspan="2"' if success %> scope="col">
          <%= success ? 'consistent' : node %>
        </th>
        <% break if success %>
      <% end %>
    </tr>
    <%# create row headers and render node results %>
    <% data.values.map{|v| v.keys}.flatten.compact.uniq.each do |test| %>
      <tr>
        <th class="data" scope="row"><%= test %></th>
        <% data.values.each do |diagnostic| %>
          <td class="overflow <%= render_info_css(diagnostic[test]) %>">
            <%= render_info_description(diagnostic[test]) %>
          </td>
          <% break if success %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
