<h1><%= Rails.application.class.parent %> Diagnostics</h1>

<table>
  <th width=20%>Diagnostic Name</th>
  <th width=10%>Status</th>
  <th width=70%>Description</th>
  <% @details.each do |d| %>
  <tr class="<%= d.status_css %>">
    <td><%= d.name %></td>
    <td><%= d.status_text %></td>
    <td class="desc"><%= d.description %></td>
  </tr>
  <% end %>
</table>

